body {
  font-family: DIN Alternate, Andale Mono, Monaco, monospace;
}

#name {
  font-weight: bold;
  font-size: 150%;
  position: absolute;
  margin-top: 10%;
  margin-left: 2%;
  width: 33%;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: black;
  text-decoration: none;
}

nav {
  float: left;
  margin-top: 20%;
  margin-left: 2%;
  width: 33%;
  margin-bottom: 20%;
}

section {
  float: left;
  width: 61%;
  margin-top: 20%;
  margin-right: 4%;
  margin-bottom: 20%;
}

h2 {
  font-size: 100%;
  margin-bottom: 4em;
}

h4 {
  font-family: Verdana, sans-serif;
  font-size: 80%;
  font-weight: normal;
}